
<div class="col45 bgblue " >
  <h3 style="color:white;border-bottom: 1px solid #fff;padding-bottom: 10px;text-align: center;">Welcome To LZine</h3>

          <div class="col22" style="padding-left:24%;padding-right: 24%;padding-top:8%">
              <md-content md-theme="docs-dark"  layout-padding>
                  <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                      <!-- LOGIN STARTS -->
                      <md-tab label="Login" >
                      <md-content class="md-padding1">
                      <ng-form name="carrymodelLoginForm" >
                      <div class="logincontainer">
                      <div class="flex">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                      <md-input-container class="md-block fg-line">

                      <label>E-mail ID</label>
                      <md-icon class="md-default-theme material-icons"><i class="material-icons">email</i></md-icon> 
                      <input focus-me required  tabindex="1" type="email" autocomplete="off" name="email"  ng-model="carrymodel.email"  ng-pattern="/^.+@.+\..+$/"  >
                        </md-input-container>
                      </div>
                      </div>

                      <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                      <md-input-container class="md-block">
                      <label>Password</label>
                      <md-icon class="md-default-theme material-icons"><i class="zmdi zmdi-lock-outline" aria-hidden="true"></i></md-icon>
                      <input required  name="password"   type="password" ng-model="carrymodel.password" >
                      </md-input-container>
                      </div>
                      </div>
                      </div>
                      <div class="clearboth"></div>

                      <div layout="row" > 
                      <div flex class="text-center">
                      <button ng-click="onGoogleLogin()" class="loginBtn loginBtn--google" style="margin-left: 7%">
                      Login with Google
                    </button>

                    <md-button  class="md-raised md-primary" style="float: right;"  ng-click="loginverified(carrymodel)"  ng-disabled="!carrymodelLoginForm.$valid">Login</md-button>
                      <div class="clearboth"></div>
                      </div>
                      </div>
                      </section>
                      </ng-form>
                      </md-content>
                      </md-tab >
                      <!-- Login Ends -->

                      <!-- Register Starts -->                      
                      <md-tab label="Signup" >
                                    <md-content class="md-padding2">
                                        <ng-form name="carrymodelRegisterForm" novalidate>
                                            <div class="logincontainer" >
                                                <!-- ng-show="!singupSuccessfully" -->
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <md-input-container class="md-block">
                                                            <label>E-mail ID</label>
                                                            <md-icon class="md-default-theme material-icons"><i class="material-icons">email</i></md-icon>
                                                            <input required type="email" name="email"  autocomplete="off" ng-model="carrymodel.email" ng-pattern="/^.+@.+\..+$/"   ng-change="OnCheckMail(carrymodel.email)">
                                                              <div ng-show="carrymodel.email" class={{emailclass}}>
                                                               {{emailstatus}}
                                                               </div>
                                                              </md-input-container>
                                                    </div>
                                                </div>
                                              
                                              <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <md-input-container class="md-block">
                                                            <label>Password</label>
                                                            <md-icon class="md-default-theme material-icons"><i class="zmdi zmdi-lock-outline" aria-hidden="true"></i></md-icon>
                                                            <input required type="password" name="password" autocomplete="off" ng-model="carrymodel.password"  ng-change="validate2pwd()">
                                                            
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                              
                                              <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <md-input-container class="md-block">
                                                            <label>Conform Password</label>
                                                            <md-icon class="md-default-theme material-icons"><i class="zmdi zmdi-lock-outline" aria-hidden="true"></i></md-icon>
                                                            <input required type="password" name="confirmpassWord" autocomplete="off" ng-model="carrymodel.confirmpassWord" data-ng-match="carrymodel.password" ng-change="validate2pwd()" >
                                                             <span>{{PassNotMatch}}</span> 
                                                        </md-input-container>
                                                    </div>
                                                </div>


                                                
                                                <div layout="row" layout-xs="column " style="margin:0 auto;width:100px;">
                                                 
                                                    <md-button class="md-raised md-primary" ng-click="register(carrymodel)" ng-disabled="!carrymodelRegisterForm.$valid||!emaildisable||IsMatch">Signup</md-button>
                                                </div>
                                            </div>
                                            <span style="clear:both"></span>
                                         </ng-form>
                                    </md-content>
                                </md-tab>


          </md-content>
    </div>


    <!-- APi  load function-->
      <script type="text/javascript">
        (function(){
          var p = document.createElement('script');
          p.type ='text/javascript';
          p.async =true;
          p.src='https://apis.google.com/js/client.js?onload=onLoadFunction';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(p, s);
        })();


      </script>

<!-- css for login screen -->
<link rel="stylesheet" type="text/css" href="design/css/extra/login/login.css">
